html, body{
	background-color: #2f4f7f;
	height: 100%;
}
.login-wrapper{
	display: table;
	height: 100%;
	width: 100%;
}
.login-wrapper .container{
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.login-box{
	float: none;
	margin: -50px auto 0;
}
.login-box .panel{
	border: 0;
	box-shadow: 0 5px 20px #333;
}
.login-box input{
	width: 100%;
	margin-bottom: 15px;
}
.login-box button.btn{
	width: 100%;
}
.login-title{
	color: #45699f;
	margin: 0 auto 15px;
	font-weight: 300;
	font-size: 60px;
	letter-spacing: 10px;
	text-align: center;
}
