html, body{
	background-color: #2f4f7f;
	height: 100%;
}
.login-wrapper{
	display: table;
	height: 100%;
	width: 100%;
}
.login-wrapper .container{
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.login-box{
	float: none;
	margin: 0 auto;
}
.login-box .panel{
	border: 0;
	box-shadow: 0 5px 20px #333;
}
